* {
  margin: 0;
  padding: 0; }

body {
  background: #596778;
  font-family: 'Dosis', sans-serif;
  font-size: 150%;
  margin: 7rem; }
@media screen and (max-width:1200px) {
  body{
      font-size: 120%;
      margin: 4rem;
  }
}
@media screen and (max-width:1030px) {
  body{
      font-size: 110%;
      margin: 2rem;
  }
}
@media screen and (max-width:900px) {
  body{
      font-size: 110%;
      margin: 0rem;
  }
}

/*------------NAVIGATION-------------*/
.main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(12, auto);
  box-shadow: 1em 0 3em rgba(0, 0, 0, 0.2), -1em 0 3em rgba(0, 0, 0, 0.2); }

.background-illustration {
  grid-column: 1/-1;
  grid-row: 1/-1;
  background: whitesmoke;
  z-index: -10; 
}
a {
  /* color: inherit; */ }
.menu-item,
.menu-open-button {
  background: #FF7F3C;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-left: 3rem;
  margin-top: 3rem;
  position: absolute;
  color: transparent;
  text-align: center;
  line-height: 80px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
  animation-name: nav;
  animation-duration: 4s; }
@media screen and (max-width:900px){
  .menu-item,
  .menu-open-button {
    width: 60px;
    height: 60px;
    margin-left: 2rem;
    margin-top: 1.4rem;
    }
}

@keyframes nav {
  0% {
    background-color: transparent; }
  50% {
    background-color: transparent; }
  100% {
    background-color: #fa7633; } }

.menu-open {
  display: none; }

.lines {
  width: 25px;
  height: 3px;
  background: #596778;
  /*            ----------------------------------*/
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
  animation-name: lines;
  animation-duration: 3s; }

@keyframes lines {
  0% {
    background-color: transparent; }
  50% {
    background-color: transparent; }
  100% {
    background-color: #596778; } }

.line-1 {
  -webkit-transform: translate3d(0, -8px, 0);
  transform: translate3d(0, -8px, 0); }

.line-2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 20px; }

.line-3 {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
  width: 15px; }
  
  @media screen and (max-width:900px){
    .lines{
      width: 20px;
      height: 3px;
      margin-left: -10px;
    }
    .line-2 {
      width: 15px; }
    .line-3 {
      width: 10px; }
  }
.menu-open:checked + .menu-open-button .line-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
  transform: translate3d(0, 0, 0) rotate(45deg); }

.menu-open:checked + .menu-open-button .line-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
  transform: translate3d(0, 0, 0) scale(0.1, 1);
  width: 25px; }

.menu-open:checked + .menu-open-button .line-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
  transform: translate3d(0, 0, 0) rotate(-45deg);
  width: 25px; }

/*----------------------------------------------------*/
.menu {
    /* margin: auto;
    position: absolute; */
  width: 80px;
  height: 80px;
  /* text-align: center;
    box-sizing: border-box; */
  font-size: 26px; }

/* .menu-item {
    transition: all 0.1s ease 0s;
 } */
.menu-item:hover {
  background: #EEEEEE;
  color: #3290B1; }

.menu-item:nth-child(3) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms; }

.menu-item:nth-child(4) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms; }

.menu-item:nth-child(5) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms; }

.menu-item:nth-child(6) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms; }

.menu-item:nth-child(7) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms; }

.menu-item:nth-child(8) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms; }

.menu-item:nth-child(9) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms; }

.menu-open-button {
  z-index: 10;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer; }

.menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  transform: scale(1.2, 1.2) translate3d(0, 0, 0); }

.menu-open:checked + .menu-open-button {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  transform: scale(0.8, 0.8) translate3d(0, 0, 0); }

.menu-open:checked ~ .menu-item {
  -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33); }

.menu-open:checked ~ .menu-item:nth-child(3) {
  transition-duration: 180ms;
  -webkit-transition-duration: 180ms;
  -webkit-transform: translate3d(0.08361px, -104.99997px, 0);
  transform: translate3d(0.08361px, -104.99997px, 0); }

.menu-open:checked ~ .menu-item:nth-child(4) {
  transition-duration: 280ms;
  -webkit-transition-duration: 280ms;
  -webkit-transform: translate3d(90.9466px, -52.47586px, 0);
  transform: translate3d(90.9466px, -52.47586px, 0); }

.menu-open:checked ~ .menu-item:nth-child(5) {
  transition-duration: 380ms;
  -webkit-transition-duration: 380ms;
  -webkit-transform: translate3d(90.9466px, 52.47586px, 0);
  transform: translate3d(90.9466px, 52.47586px, 0); }

.menu-open:checked ~ .menu-item:nth-child(6) {
  transition-duration: 480ms;
  -webkit-transition-duration: 480ms;
  -webkit-transform: translate3d(0.08361px, 104.99997px, 0);
  transform: translate3d(0.08361px, 104.99997px, 0); }

.menu-open:checked ~ .menu-item:nth-child(7) {
  transition-duration: 580ms;
  -webkit-transition-duration: 580ms;
  -webkit-transform: translate3d(-90.86291px, 52.62064px, 0);
  transform: translate3d(-90.86291px, 52.62064px, 0); }

.menu-open:checked ~ .menu-item:nth-child(8) {
  transition-duration: 680ms;
  -webkit-transition-duration: 680ms;
  -webkit-transform: translate3d(-91.03006px, -52.33095px, 0);
  transform: translate3d(-91.03006px, -52.33095px, 0); }

.menu-open:checked ~ .menu-item:nth-child(9) {
  transition-duration: 780ms;
  -webkit-transition-duration: 780ms;
  -webkit-transform: translate3d(-0.25084px, -104.9997px, 0);
  transform: translate3d(-0.25084px, -104.9997px, 0); }

.blue {
  background-color: #669AE1;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12); }

.blue:hover {
  color: #669AE1;
  text-shadow: none; }

.green {
  background-color: #70CC72;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12); }

.green:hover {
  color: #70CC72;
  text-shadow: none; }

.red {
  background-color: #FE4365;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12); }

.red:hover {
  color: #FE4365;
  text-shadow: none; }

.purple {
  background-color: #C49CDE;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12); }

.purple:hover {
  color: #C49CDE;
  text-shadow: none; }

.orange {
  background-color: #FC913A;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12); }

.orange:hover {
  color: #FC913A;
  text-shadow: none; }

.lightblue {
  background-color: #62C2E4;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12); }

.lightblue:hover {
  color: #62C2E4;
  text-shadow: none; }

/*----------NAVIGATION END-----------*/
div img {
  display: block;
  object-fit: fill;
  width: 100%;
  height: 100%; }

#logo {
  grid-column: 3/5;
  grid-row: 1;
  margin-top: 3rem;
  justify-self: center; }
  #logo img {
    max-height: 80px;
    max-width: 140px; }
@media screen and (max-width: 900px){
  #logo{
    grid-column: 2/6; 
    margin: 1rem;
  }
  #logo img {
    max-height: 60px;
    max-width: 110px; }
}
.text {
  grid-column: 3/5;
  grid-row: 2/3;
  text-align: justify;
  margin-top: 3rem; }
  .text h3 {
    text-align: center;
    padding-bottom: 1rem; }
@media screen and (max-width: 1300px){
  .text{
    grid-column: 2/6; 
    margin: 2rem;
  }
}
@media screen and (max-width: 1030px){
  .text{
    grid-column: 2/6; 
    margin-top: 0rem;
  }
}
.caroseoul {
  grid-column: 3/5;
  grid-row: 3/4;
  /* max-height: 450px; */
  /* max-width: 400px; */
  /* margin-top: 3rem;*/ 
} 
  .caroseoul img {
    max-height: 400px; 
    max-width: 250px; 
    margin: 0 auto; 
  }

#Layer_1 {
  margin-bottom: -7px;
  margin-right: -1px; }

 @media screen and (max-width: 1200px){
  #Layer_1 {
    margin-bottom: -5px;
    margin-right: -1px; }
} 

.mockup1 {
  grid-column: 2/4;
  grid-row: 4/6;
  margin-top: 2rem; 
}

.mockup1{
  -webkit-box-shadow: -2px 0px 13px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 0px 13px 0px rgba(0,0,0,0.75);
  box-shadow: -2px 0px 13px 0px rgba(0,0,0,0.75);
}
.mockup-text1 {
  grid-column: 4/6;
  grid-row: 4/6;
  padding-left: 1rem;
  /* padding-top: 1rem; */
  margin-top: 2rem;
  text-align: justify;
  align-self: center; 
  padding-right: 1rem; 
}
  .mockup2{
    grid-column: 4/6;
    grid-row: 6/8;
}
.mockup2 img{
  max-height: 300px;
  -webkit-box-shadow: 2px 3px 13px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 3px 13px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 3px 13px 0px rgba(0,0,0,0.75);
  background: whitesmoke;
}
.mockup-text2{
    grid-column: 2/4;
    grid-row: 6/8;
    /* padding-top: 1rem; */
    text-align: justify;
    align-self: center; 
    padding-right: 1rem;
}
.navbox {
 grid-column: 1/2;
  grid-row: 1/2;
  z-index: 10;
  left: 0;
  top: 0;
  max-height: 100px;
  max-width: 200px; 
}
.about-img{
  grid-column: 2/3;
  grid-row: 8/9;
  padding-top: 1rem;
  padding-left: 1rem;
}
.about-img img{
  border-radius: 50%;
  /* justify-self: center;
  align-self: center; */
}
.about-text{
  grid-column: 3/6;
  grid-row: 8/9;
  padding-left: 1rem;
  text-align: justify;
  align-self: center; 
}
.other-about{
  grid-column: 1/-1;
  grid-row: 9/11;
  z-index: 2;
  padding-left: 1rem;
  text-align: center;
  margin-top: 1rem;
}
.other-about1-img{
  grid-column: 1/2;
  grid-row: 9/11;
  padding-top: 1rem;
  padding-left: 1rem;
  margin-top: 3rem;
  max-height: 150px;
}
.other-about1-text{
  grid-column: 2/4;
  grid-row: 9/11;
  padding-left: 1rem;
  padding-top: 2rem;
  text-align: justify;
  align-self: center; 
}
.other-about2-img{
  grid-column: 4/5;
  grid-row: 9/11;
  padding-top: 1rem;
  padding-left: 1rem;
  margin-top: 3rem;
  max-height: 150px;
}
.other-about2-text{
  grid-column: 5/7;
  grid-row: 9/11;
  padding: 2rem 1rem 0 1rem;
  text-align: justify;
  align-self: center; 
}
.gallery{
  grid-column: 1/-1;
  grid-row: 11/12;
  padding: 1rem;
  /* margin-top: 3rem; */
  
}
.gallery img{
  max-height: 200px;
  max-width: 200px;
  margin: 0 auto;
}
.contact{
  grid-column: 3/5;
  grid-row: 12/13;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}